* {
    margin: 0;
    padding: 0;

}

:root {
    --verde-color: #93BFB7;
    --negro-color: #2D3E40;
    --acento-color: #E4F2E7;
    --cuarto-color: #925357;
    /* --quinto-color: #8D4DBD; */

}

header {
    display: flex;
    align-items: center;
}



body {
    background: var(--negro-color);
    color: var(--negro-color);
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    /*ancho m치ximo de la p치gina*/
    margin: 20px auto;
    /*auto permite centrar nuestra p치gina en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner m치rgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(6, auto);

    grid-template-areas: "encabezado encabezado encabezado"
        "contenido contenido sidebar"
        "widget-1 widget-2 sidebar"
        "widget-3 widget-3 sidebar"
        "formulario formulario sidebar"
        /* "pie pie pie"; */
    ;
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .formulario {
    padding: 20px;
    border-radius: 12px;

    box-shadow: #06060630 0px 5px 15px;
}

.contenedor .encabezado {
    background-color: var(--verde-color);
    color: var(--negro-color);
    /* background: #06331e; */
    /* color: #0a0909; */
    grid-area: encabezado;
    animation-name: animacion1;
    animation-duration: 3s;

}

.encabezado a {
    text-decoration: none;
    /* color: #050000; */
    color: var(--negro-color);
    padding-right: 5px;

}

.encabezado i:hover {
    scale: 93%;
    transition: 0.5s;
}

.encabezado h1 {
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    margin-left: 20%;
}

.contenedor .contenido {
    background: var(--verde-color);
    /* background: #06331e; */
    grid-area: contenido;
    animation-name: animacion2;
    animation-duration: 3s;
}

.contenedor .sidebar {
    background: #141d26;
    /* twitter iframe*/
    /* background: black; */
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
    animation-name: animacion3;
    animation-duration: 3s;

}


.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3 {
    background: var(--verde-color);
    color: var(--negro-color);
    height: auto;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animacion4;
    animation-duration: 3s;
}

.widget-1 i {
    margin-left: 5px;
    margin-right: 15px;
}

.widget-2 i {
    margin-left: -5px;
    margin-right: 15px;
}

.weatherwidget-io a {
    color: var(--negro-color);
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .widget-3 {
    grid-area: widget-3;
    height: fit-content;
}

/* .widget-3 iframe {
    height: 100%;
    width: 100%;
} */

.contenedor .formulario {
    background-color: var(--verde-color);
    color: var(--negro-color);
    grid-area: formulario;
    animation-name: animacion1;
    animation-duration: 3s;
    height: auto;
}

.formulario {
    background-color: #4b813b;
    color: #000000;
    padding: 20px;
    border-radius: 12px;
}

.formulario label {
    display: block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario select {
    background-color: var(--acento-color);
    color: var(--negro-color);
    font-weight: bold;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.formulario select {
    width: 100%;
}

.formulario input[type="button"] {
    background-color: var(--acento-color);
    color: var(--negro-color);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

.formulario input[type="button"]:hover {
    background-color: var(--cuarto-color);
    color: var(--acento-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.7s 0s;
}

.formulario input[type="button"]:active {
    background-color: var(--negro-color);
    box-shadow: rgba(227, 227, 227, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.pie {
    /* background: #06331e; */
    background: var(--verde-color);
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    /* padding: 20px; */
    border-radius: 12px;
    color: var(--negro-color);
    animation-name: animacion1;
    animation-duration: 3s;
    text-align: center;
}

/* Enlaces github */
.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.list li:hover {
    scale: 110%;
    transition: linear 650ms 0ms;
}

.list li a {
    text-decoration: none;
    /* color: #050000; */
    color: var(--negro-color);
}



/* Breaking points */

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-2"
            "widget-3 widget-3 widget-3"
            "formulario formulario sidebar"
            /* ;"pie pie pie" */
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "contenido contenido contenido"
            "widget-1 widget-1 widget-1"
            "widget-2 widget-2 widget-2"
            "widget-3 widget-3 widget-3"
            "sidebar sidebar sidebar"
            "formulario formulario formulario"
            /* "pie pie pie"; */
        ;
    }

    .encabezado div {
        display: flex;
        /* flex-direction: column; */
        width: 17%;

    }

    .encabezado div>a {
        margin-right: 5px;
    }

    .encabezado div h1 {
        width: auto;
    }

}

/* Secuencias de colores */

@keyframes animacion1 {
    0% {
        background-color: #542f63
    }

    25% {
        background-color: #743749
    }

    50% {
        background-color: #594b29
    }

    75% {
        background-color: #3d8373
    }

    100% {
        background-color: #06331e
    }
}

@keyframes animacion2 {
    0% {
        background-color: #3d8373
    }

    25% {
        background-color: #542f63
    }

    50% {
        background-color: #743749
    }

    75% {
        background-color: #594b29
    }

    100% {
        background-color: #06331e
    }
}

@keyframes animacion3 {
    0% {
        background-color: #594b29
    }

    25% {
        background-color: #3d8373
    }

    50% {
        background-color: #542f63
    }

    75% {
        background-color: #743749
    }

    100% {
        background-color: #06331e
    }
}

@keyframes animacion4 {
    0% {
        background-color: #743749
    }

    25% {
        background-color: #594b29
    }

    50% {
        background-color: #3d8373
    }

    75% {
        background-color: #542f63
    }

    100% {
        background-color: #06331e
    }
}

/* Fin Secuencia de colores */


/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2a3937;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #354440;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #344e48;
}
