  html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }

    body {
    background-color: black;
  }

  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Previene que se seleccionen las imagenes -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
